/* ==|== primary styles =====================================================
   Author: Greg Newman 
   ========================================================================== */


/* ` Mixins
----------------------------------------------------------------------------*/

@mixin franklin-gothic-book {
    font-family: "franklin-gothic-urw-cond-1","franklin-gothic-urw-cond-2",sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin franklin-gothic-demi {
    font-family: "franklin-gothic-urw-cond-1","franklin-gothic-urw-cond-2",sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin header-gradient {
    background-color: #eeeae4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 234, 228)),to(rgb(223, 216, 202)));
    background-image: -webkit-linear-gradient(top, rgb(238, 234, 228), rgb(223, 216, 202));
    background-image: -moz-linear-gradient(top, rgb(238, 234, 228), rgb(223, 216, 202));
    background-image: -o-linear-gradient(top, rgb(238, 234, 228), rgb(223, 216, 202));
    background-image: -ms-linear-gradient(top, rgb(238, 234, 228), rgb(223, 216, 202));
    background-image: linear-gradient(top, rgb(238, 234, 228), rgb(223, 216, 202));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eeeae4', EndColorStr='#dfd8ca');
}    

@mixin brown-gradient {
    background-color: #ae5a31;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(174, 90, 49)),to(rgb(127, 65, 33)));
    background-image: -webkit-linear-gradient(top, rgb(174, 90, 49), rgb(127, 65, 33));
    background-image: -moz-linear-gradient(top, rgb(174, 90, 49), rgb(127, 65, 33));
    background-image: -o-linear-gradient(top, rgb(174, 90, 49), rgb(127, 65, 33));
    background-image: -ms-linear-gradient(top, rgb(174, 90, 49), rgb(127, 65, 33));
    background-image: linear-gradient(top, rgb(174, 90, 49), rgb(127, 65, 33));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ae5a31', EndColorStr='#7f4121');
}


/* ` @font-face fonts
----------------------------------------------------------------------------*/

@font-face {
    font-family: 'MerriweatherRegular';
    src: url('../fonts/Merriweather-webfont.eot');
    src: url('../fonts/Merriweather-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-webfont.woff') format('woff'),
         url('../fonts/Merriweather-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather-webfont.svg#MerriweatherRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MerriweatherLight';
    src: url('../fonts/Merriweather-Light-webfont.eot');
    src: url('../fonts/Merriweather-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-Light-webfont.woff') format('woff'),
         url('../fonts/Merriweather-Light-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather-Light-webfont.svg#MerriweatherLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MerriweatherBold';
    src: url('../fonts/Merriweather-Bold-webfont.eot');
    src: url('../fonts/Merriweather-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-Bold-webfont.woff') format('woff'),
         url('../fonts/Merriweather-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather-Bold-webfont.svg#MerriweatherBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MerriweatherBlack';
    src: url('../fonts/Merriweather-Black-webfont.eot');
    src: url('../fonts/Merriweather-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather-Black-webfont.woff') format('woff'),
         url('../fonts/Merriweather-Black-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather-Black-webfont.svg#MerriweatherBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ` Block Level Elements
----------------------------------------------------------------------------*/

body {
    background: #824013;
}

nav {
    position: relative;
    height: 43px;
    background: #5b5853;
}

header {
    @include header-gradient;
    height: 200px;
    margin-bottom: 40px;
    position: relative;
}

header:after {
    content:'';
    position:absolute;
    top: 180px;
    left: 0;
    height: 90px;
    display:block;
    width: 100%;
    background: #efebe3;
    transform:rotate(1deg);
    -ms-transform:rotate(1deg); /* IE 9 */
    -moz-transform:rotate(1deg); /* Firefox */
    -webkit-transform:rotate(1deg); /* Safari and Chrome */
    -o-transform:rotate(1deg); /* Opera */
}

header h1 {
    position: absolute;
    top: 35px;
    left: -10px;
}

section {
    background: #efebe3;
    padding: 0 0 60px 0;
}

footer {
    position: relative;
    background: #824013;
    margin: 40px 0 0 0;
    padding: 50px 0 20px 0;
    color: #fff;
    font: 14px/21px 'MerriweatherLight', Arial, sans-serif;
}

footer:before {
    content:'';
    position:absolute;
    top: -70px;
    left: 0;
    height: 50px;
    display:block;
    width: 100%;
    background: #efebe3;
    transform:rotate(-1deg);
    -ms-transform:rotate(-1deg); /* IE 9 */
    -moz-transform:rotate(-1deg); /* Firefox */
    -webkit-transform:rotate(-1deg); /* Safari and Chrome */
    -o-transform:rotate(-1deg); /* Opera */
}

footer a,
footer a:active,
footer a:visited {
    color: #fff;
}


/* ` Header and Nav Elements
----------------------------------------------------------------------------*/

.bike {
    height: 204px;
    width: 379px;
    position: absolute;
    top: 25px;
    right: -45px;
    background: url(../img/46harley-logo.png) no-repeat top left;
    z-index: 9;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
    @include franklin-gothic-book;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 0 6px;
    line-height: 43px;
}

.navbar a:hover {
    color: #f4dcac;
}

.navbar li.shop-link {
    padding-left: 15px;
    background: #000 url(../img/shop_nav_bg.png) no-repeat left bottom;
}

.navbar ul li.shop-link a,
.navbar ul li.shop-link a:visited {
    background: #000;
    padding-right: 10px;
    color: #f4dcac;
    @include franklin-gothic-demi;
}

.about .about-nav a,
.commissions .commissions-nav a,
.portfolio-body .portfolio-nav a,
.journal-body .journal-nav a,
.contact-body .contact-nav a {
    color: #f4dcac;
}

.social ul {
    margin: 8px 0 0 0;
    padding: 0;
    z-index: 9999;
}

.social ul li {
    float: right;
    margin: 0 15px;
    padding: 0;
}

.social ul li a {
    display: block;
    width: 27px;
    height: 24px;
}

li.twitter {
    margin-right: 0 !important;
}

li.twitter a {
    background: url(../img/icon-twitter.png) no-repeat top left;
}

li.dribbble a {
    background: url(../img/icon-dribbble.png) no-repeat top left;
}

li.facebook a {
    background: url(../img/icon-facebook.png) no-repeat top left;
}

li.flickr a {
    background: url(../img/icon-flickr.png) no-repeat top left;
}

li.behance a {
    background: url(../img/icon-behance.png) no-repeat top left;
}

li.twitter a:hover {
    background: url(../img/icon-twitter-on.png) no-repeat top left;
}

li.dribbble a:hover {
    background: url(../img/icon-dribbble-on.png) no-repeat top left;
}

li.facebook a:hover {
    background: url(../img/icon-facebook-on.png) no-repeat top left;
}

li.flickr a:hover {
    background: url(../img/icon-flickr-on.png) no-repeat top left;
}

li.behance a:hover {
    background: url(../img/icon-behance-on.png) no-repeat top left;
}



/* ` Standard Elements
----------------------------------------------------------------------------*/


p, ul {
    font: 18px/27px 'MerriweatherRegular', Arial, sans-serif;
}

h1, h2, h3, h4 {
    @include franklin-gothic-demi;
    font-size: 24px;
    line-height: 1.4em;
}

h1 {
    font-size: 2.4em;
}

blockquote {
    font: 18px/27px 'MerriweatherBold', Arial, sans-serif;
    color: #333;
}

/* ` Home View Elements
----------------------------------------------------------------------------*/

.home-banner {
    text-align: center;
}

.about-copy {
    padding: 0 15px;
    margin: 40px auto;
}

.portfolio-thumbs img {
    margin: 0 20px 15px 0;
    border: 6px solid #000;
}

.thumb-6,
.thumb-12,
.thumb-18,
.thumb-24,
.thumb-30 { margin-right: 0 !important; }


.portfolio-thumbs img:hover {
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

/* ` Portfolio View Elements
----------------------------------------------------------------------------*/

.portfolio-large {
    padding: 10px;
    border: 2px solid #000;
    background: #fff;
}

.portfolio-related,
.portfolio-tags {
    margin-top: 25px;
    font-size: 1.2em;
}

.portfolio-details,
.portfolio-categories,
.portfolio-purchase,
.portfolio-social {
    margin-bottom: 25px;
    font-size: 1.2em;
}

.portfolio-purchase a { 
    @include brown-gradient;
    text-decoration: none;
    font-size: 1.1em; 
    border: 2px solid #000; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    padding: 6px 10px; 
    outline: 0; 
    border: 0; 
    cursor: pointer; 
    color: #fff; 
    font-weight: bold;
}

.portfolio-purchase a:hover { color: #F4DCAC; }

/* ` Flatpage View Elements
----------------------------------------------------------------------------*/

.profile-img,
.commissions section img {
    float: right;
    margin-left: 20px;
    padding: 4px;
    background: #fff;
    border: 1px solid #000;
}

/* ` Form View Elements
----------------------------------------------------------------------------*/


form {
    margin: 30px auto;
    position: relative;
    font: 18px/27px 'MerriweatherRegular', Arial, sans-serif;
}

.formrow {
    width: 630px;
    background: #e0d9ca;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 4px;
    padding: 10px;
}

.formrow span {
    display: block;
    color: #999999; 
    margin-left: 210px;
}

form label {
    display: block;
    float: left;
    width: 200px;
    margin: 0 5px 2px 0;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: bold;
    text-align: left;
}

label.required { color: #b6764c; }

form input[type=text],
form input[type=password] {
    width: 250px;
    padding: 3px 8px;
    color: #333;
    border: 1px solid #000;
}

form select {
    width: 200px;
    border: 1px solid #999;
}

form textarea {
    padding: 3px 8px;
    width: 320px;
    height: 90px;
    color: #333;
    border: 1px solid #000;
}

form input[type=text]:focus,
form textarea:focus,
form select:focus {
    color: #000;
}

.errorField {
    background: url(../img/error_bg.png);
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 10px 0 30px;
    margin-bottom: 4px;
    font-size: 0.9em;
    font-weight: bold;
}

.errorlist {
    color: #fff;
    background: #f33;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 3px 10px;
    list-style: none;
    float: left;
    width: 330px;
}

button {
    @include brown-gradient;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 6px 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    margin: 10px 10px 10px 220px;
    font: 14px/21px 'MerriweatherRegular', Arial, sans-serif;
}

button:hover { color: #fff; }


/* ` Journal View Elements
----------------------------------------------------------------------------*/

.journal-body h2 a {
    text-decoration: none;
}

.entry-h1 {
    margin-top: -10px;
}

.entry-date {
    font: 12px/18px 'MerriweatherLight', Arial, sans-serif;
    padding-left: 25px;
}

article p {
    padding-right: 20px;
}

article h3 {
    margin-top: 25px;
}

article ul li {
    list-style: disc;
    margin-left: 15px;
    line-height: 1.5em;
}

aside {
    margin-top: 94px;
    font: 14px/21px 'MerriweatherRegular', Arial, sans-serif;
}

.social-buttons {
    margin-top: 20px;
}

.closing {
    margin-top: 50px;
    border-top: 1px solid #666;
    padding: 20px 0 0 100px;
}

.closing p {
    font: 14px/21px 'MerriweatherLight', Arial, sans-serif;
}

.twitter-follow-button {
    margin-left: -70px;
    float: left;
}

.journal-excerpt {
    margin-bottom: 40px;
    padding-bottom: 20px;
    min-height: 670px;
}

.journal-excerpt h2 {
    height: 30px;
    overflow: hidden;
}

.journal-excerpt img {
    margin-bottom: 20px;
    display: block;
    border: 7px solid #000;
}

/* ` footer Elements
----------------------------------------------------------------------------*/

.skull {
    position: absolute;
    bottom: 50px;
    right: 55px;
}

footer p,
footer ul {
   font: 14px/21px 'MerriweatherRegular', Arial, sans-serif;
}

footer h3 {
    color: #F4DCAC;
}

.respect a,
.respect a:visited {
    text-decoration: none;
}

.respect {
}

.respect ul li {

}

#latest_tweet {
    margin-top: 50px;
}

.dribbble-shots {
}

.dribbble-shots img {
    border: 6px solid #000;
}


/* ` Store View Elements
----------------------------------------------------------------------------*/

#navigation li {
    font-size: 0.8em;
}

#home-page .product,
#products-page .product {
    float: left;
    width: 50%;
}

#product-images .product-img {
  margin: 0 0 10px 0;
  }

#product-images .images-nav {
  position: relative;
  width: 300px;
  height: 28px;
  margin: 10px 0 0 0;
  }

#product-images .images-list {
  position: absolute;
  top: 0;
  left: 28px;
  padding: 7px 0 8px 0;
  }

#product-images .images-list li {
  display: inline;
  padding: 0 5px;
  list-style: none;
  border-left: 1px solid #666;
  }

#product-images .images-list li.image-1 {
  border-left: none;
  }

#product-images .images-prev {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  }

#product-images .images-next {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  }

#product-images .images-prev a {
  display: block;
  width: 18px;
  height: 18px;
  background: url('btn-prev.gif') no-repeat;
  }

#product-images .images-next a {
  display: block;
  width: 18px;
  height: 18px;
  background: url('btn-next.gif') no-repeat;
  }

#product-images .images-prev span,
#product-images .images-next span {
  display: none;
  }


#product-page button {
    margin-left: 0 !important;
}


/*============================================================
 Cart
============================================================*/

#cart-content {
}

#cart-table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  }

#cart-table td,
#cart-table th {
  text-align: left;
  }

#update-btn-head {
  display: none;
  }


/* Cart Table Header ---------------------------------------*/

#cart-head {
  color: #fff;
  background: #824013;
  }

#cart-head th {
  padding-top: 11px;
  padding-bottom: 11px;
  }

#head-item {
  padding-left: 10px;
  }

/* Cart Table Columns --------------------------------------*/

#col-item    { width: 337px; }
#col-price    { width: 65px; }
#col-qty    { width: 40px; }
#col-total    { width: 65px; }
#col-options  { width: 30px; }

/* Cart Table Body -----------------------------------------*/

#cart-body th {
  padding-left: 10px;
  font-weight: normal;
  }

#cart-body td {
  padding: 9px 12px 9px 0;
  }

#cart-body .item-price {
  padding-right: 5px;
  }

#cart-body .item-qty input {
  width: 2em;
  }

#cart-body .item-total {
  font-weight: bold;
  }

#cart-body .item-options {
  text-align: center;
  }

#cart-body .item-options .remove-btn {
  cursor: pointer;
  display: block;
  }

#cart-body .item-options span {
  }


/* Cart Footer ---------------------------------------------*/

#cart-footer {
  margin: 10px 0;
  }

#cart-footer .cart-update {
  padding: 10px 0;
  text-align: right;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  }

#cart-footer .update-btn {
  cursor: pointer;
  }

#cart-footer .cart-shipping {
  float: left;
  display: inline;
  margin: -31px 0 0 11px;
  }

#cart-footer #country {
  width: 160px;
  margin-left: 5px;
  padding: 2px 0;
  font-size: 11px;
  }

#cart-footer .cart-discount {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  text-align: right;
  }

#cart-footer #cart_discount_code {
  width: 80px;
  margin-left: 10px;
  }

#cart-footer .cart-discount p {
  margin: 1px 0;
  }

#cart-footer .cart-total {
  padding: 15px 0;
  text-align: right;
  border-bottom: 1px solid #ddd;
  }

#cart-footer .cart-total h3 {
  font-size: 16px;
  margin: 0;
  }

#cart-footer .cart-total p {
  margin-bottom: 0;
  font-size: 9px;
  color: #999;
  }

#cart-footer .cart-total #cart-shipping-tax p {
  margin-bottom: 7px;
  font-size: 11px;
  color: #666;
  }

#cart-footer .cart-options {
  float: right;
  margin-top: 10px;
  }

#cart-footer .cart-checkout {
  float: left;
  }

#cart-footer .checkout-btn {
  margin-left: 8px;
  cursor: pointer;
  }

#cart-footer .update-btn span,
#cart-footer .checkout-btn span {
  }

span.total-discount,
span.total-shipping {
  font-weight: bold;
  }


#product-page .addthis_toolbox {
    margin: 20px 0 0 28px;
}



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .home-banner img {
            width: 768px;
        }

        .navbar a { font-size: 18px; }
        /* @@@TODO|FIXME */
        .social { display: none; }
        footer { text-align: center; }
        .skull { display: none; }


        .portfolio-detail img { width: 90%; }


        .thumb-6,
        .thumb-12,
        .thumb-18,
        .thumb-24,
        .thumb-30 { margin-right: 15px !important; }

        .portfolio-thumbs img { margin: 0 15px 10px 0; }
        .thumb-5,
        .thumb-10,
        .thumb-15,
        .thumb-20 { margin-right: 0 !important; }
    }

    /*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .home-banner img {
            display: none;
        }

        p, ul {
            font-size: 0.9em;
        }

        .thumb-2,
        .thumb-4,
        .thumb-6,
        .thumb-8,
        .thumb-10,
        .thumb-12,
        .thumb-14,
        .thumb-16,
        .thumb-18,
        .thumb-20 { margin-right: 0 !important; }


        .bike {
            top: 100px;
        }

        section { padding-top: 135px; }

        header {
            height: 120px;
        }
        header h1 img {
            width: 320px;
        }
        header h1 {
            top: 10px;
            left: 0;
        }
        header:after {
            content:'';
            position:absolute;
            top: 80px;
            left: 0;
            height: 90px;
            display:block;
            width: 100%;
            background: #efebe3;
            transform:rotate(1deg);
            -ms-transform:rotate(1deg); /* IE 9 */
            -moz-transform:rotate(1deg); /* Firefox */
            -webkit-transform:rotate(1deg); /* Safari and Chrome */
            -o-transform:rotate(1deg); /* Opera */
        }

        .navbar a { font-size: 10px; }
        footer { text-align: center; }
        .skull { display: none; }


        .profile-img,
        .commissions section img,
        .entry-body img {
            display: block;
            float: none;
            width: 80% !important;
            margin: 10px auto;
            padding: 4px;
            background: #fff;
            border: 1px solid #000;
        }

        .portfolio-large {
            width: 90%;
            margin: 0 auto;
        }

        article h1 {
            font-size: 1.4em;
        }

        .journal-excerpt {
            margin-bottom: 10px;
            padding-bottom: 20px;
            min-height: 400px;
        }

        label { 
            float: none;
            display: block;
            width: 80% !important;
        }

        form input[type=text],
        form input[type=password] {
            display: block;
            width: 250px;
            padding: 3px 8px;
            color: #333;
            border: 1px solid #000;
        }

        .formrow {
            width: 92%;
        }

        form textarea {
            padding: 3px 8px;
            width: 250px;
            height: 90px;
            color: #333;
            border: 1px solid #000;
        }


    }

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .home-banner img {
            width: 420px;
        }

        p, ul {
            font-size: 0.9em;
        }

        .portfolio-thumbs img {
            margin: 2px !important;
            width: 120px;
        }


        .bike {
            top: 130px;
            right: 30px;
        }

        header {
            height: 140px;
        }
        section { padding-top: 140px; }
        header h1 img {
            width: 440px;
        }
        header h1 {
            top: 10px;
            left: 0;
        }
        header:after {
            content:'';
            position:absolute;
            top: 110px;
            left: 0;
            height: 90px;
            display:block;
            width: 100%;
            background: #efebe3;
            transform:rotate(1deg);
            -ms-transform:rotate(1deg); /* IE 9 */
            -moz-transform:rotate(1deg); /* Firefox */
            -webkit-transform:rotate(1deg); /* Safari and Chrome */
            -o-transform:rotate(1deg); /* Opera */
        }

        .navbar a { font-size: 16px; }
        footer { text-align: center; }
        .skull { display: none; }


        .profile-img,
        .commissions section img,
        .entry-body img {
            float: none;
            margin: 10px auto;
            padding: 4px;
            background: #fff;
            border: 1px solid #000;
        }

        .portfolio-large {
            width: 90%;
            margin: 0 auto;
        }

        article h1 {
            font-size: 1.4em;
        }

        .journal-excerpt {
            margin-bottom: 10px;
            padding-bottom: 20px;
            min-height: 400px;
        }

    }

