{% extends "base-no-aside.html" %}

{% block page_title %}{{ work.title }} by Greg Newman{% endblock %}

{% block meta_keywords %}{{ work.keywords }}{% endblock %}
{% block meta_description %}{{ work.description }}{% endblock %}

{% block body-class %}portfolio-body{% endblock %}
{% block content %}
    <article>
        <h1>Gallery: {{ work.title }}</h1>
        <img src="{{ work.original_image.url }}" class="portfolio-large" />
    </article>
    <aside>
        <div class="portfolio-details">
            <h3>Project Details</h3>
            {{ work.description }}
        </div>
        <div class="portfolio-categories">
            <h3>Type of Project</h3>
            <ul>
            {% for cat in work.category.all %}
                <li>{{ cat.name }}</li>
            {% endfor %}
            </ul>
        </div>
        {% if work.buy_link %}
        <div class="portfolio-purchase">
            <a href="{{ work.buy_link }}">Purchase Prints</a>
        </div>
        {% endif %}
        <div class="portfolio-social">
            <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="gregnewman" data-text="A must see:">Tweet</a>
            
            <g:plusone size="medium" annotation="none"></g:plusone>
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        </div>
    </aside>
    <div class="clearfix"></div>
{% endblock %}
