{% extends "base.html" %}

{% block page_title %}Website of Greg Newman, Illustrator and Artist{% endblock %}

{% block meta_keywords %}Newman Studios, gallery, portfolio, greg newman, illustration, art, paintings, wildlife, motorcycles, harley davidson, sports, portraits, , sketches, drawings, harley-davidson art, harley davidson paintings, harley-davidson, motorcycle art, vintage art, artwork, fine art, prints, designer apparel, t-shirts, illustration{% endblock %}
{% block meta_description %}Greg Newman's recent illustration, store and blog.  Wildlife, portrait and motorcycle paintings.{% endblock %}

{% block content %}
<div class="home-banner"><img src="{{ STATIC_URL }}img/home-1.png" /></div>
    <div class="about-copy rows">
        <p>Newman Studios and Fine Art is an illustration, design and fine art studio located in Charlotte, North Carolina.  Owner, Greg Newman, is a recognized freelance artist specializing in portrait, wildlife, motorcyle and technical paintings and illustrations.  Greg also works as a devigner (designer & developer) servicing clients that include (but are not limited to) National Geographic, Discovery Channel and Broadway.  Newman Studios and Fine Art is accepting new projects and can be contacted through the <a href="/contact/">contact page</a>.</p>
    </div>
    <div class="portfolio-thumbs rows">
        {% for work in works %}
        <a href="{% url gallery-detail work.slug %}"><img src="{{ work.thumbnail.url }}" class="thumb-{{ forloop.counter }}" /></a>
        {% endfor %}
    </div>

{% endblock %}
