{% extends "base.html" %}

{% block page_title %}Website of Greg Newman, Illustrator and Artist{% endblock %}

{% block meta_keywords %}gallery, portfolio, greg newman, illustration, art, paintings, wildlife, motorcycles, harley davidson, sports, portraits, , sketches, drawings{% endblock %}
{% block meta_description %}Greg Newman's recent illustration, store and blog.  Wildlife, portrait and motorcycle paintings.{% endblock %}

{% block content %}
<div class="home-banner"><img src="{{ STATIC_URL }}img/home-1.png" /></div>
    <div class="about-copy row">
        <p>Greg Newman is a freelance artist specializing in portrait, wildlife, motorcyle and technical paintings and illustrations.  Greg also works as a devinger (designer & developer) since 2001 doing work for clients that include National Geographic, Discovery Channel and Broadway, to name a few.  Greg currently resides in Charlotte, North Carolina with his wife, son and two dogs.  Greg is accepting new projects and can be contacted through the <a href="/contact/">contact page</a>.</p>
    </div>
    <div class="portfolio-thumbs row">
        {% for work in works %}
            <a href="{% url gallery-detail work.slug %}"><img src="{{ work.thumbnail.url }}" {% if forloop.counter|divisibleby:"5" %}class="thumb-last"{% endif %} /></a>
        {% endfor %}
    </div>

{% endblock %}
