{% extends "base-no-aside.html" %}

{% block page_title %}Portfolio/Gallery of Greg Newman's Recent Work{% endblock %}

{% block meta_keywords %}gallery, portfolio, greg newman, illustration, art, paintings, wildlife, sports, portraits, caricatures, sketches, drawings{% endblock %}
{% block meta_description %}Portfolio/Gallery of Greg Newman's Recent Work{% endblock %}

{% block content %}
    <h2>Gallery</h2>
    <div class="portfolio-thumbs">
        {% for work in works %}
        <a href="{% url gallery-detail work.slug %}"><img src="{{ work.thumbnail.url }}" {% if forloop.counter|divisibleby:"5" %}class="thumb-last"{% endif %} /></a>
        {% endfor %}
    </div>
{% endblock %}
