{% extends "base-no-aside.html" %}

{% block page_title %}Portfolio of Greg Newman's Recent Work{% endblock %}

{% block meta_keywords %}gallery, portfolio, greg newman, illustration, art, paintings, wildlife, sports, portraits, caricatures, sketches, drawings, motorcycle art, motorcycles, harley davidson{% endblock %}
{% block meta_description %}Portfolio of Greg Newman's illustration work.  Wildlife, portrait and motorcycle paintings.{% endblock %}

{% block content %}
<h2>{% if category %}{{ category|capfirst }} {% endif %}Gallery</h2>
    <div class="portfolio-thumbs">
        {% for work in works %}
        <a href="{% url gallery-detail work.slug %}"><img src="{{ work.thumbnail.url }}" {% if forloop.counter|divisibleby:"5" %}class="thumb-last"{% endif %} /></a>
        {% endfor %}
    </div>
{% endblock %}
