{% extends "base.html" %}

{% block body-class %}portfolio-body{% endblock %}

{% block page_title %}{% if tag %}Tagged Portfolio images matching {{ tag }}{% else %}Portfolio images{% endif %} in Greg Newman's Recent Work{% endblock %}

{% block meta_keywords %}gallery, portfolio, greg newman, illustration, art, paintings, wildlife, sports, portraits, caricatures, sketches, drawings, motorcycle art, motorcycles, harley davidson{% endblock %}
{% block meta_description %}{% if tag %}Tagged Portfolio images matching {{ tag }}{% else %}Portfolio images{% endif %} in Greg Newman's illustration work.  Wildlife, portrait and motorcycle paintings. {{ tag }}{% endblock %}

{% block content %}
    <div class="portfolio-thumbs">
        <h1>{% if category %}{{ category|capfirst }} {% endif %}Gallery</h1>
        {% for work in works %}
        <a href="{% url gallery-detail work.slug %}" title="{{ work.title }}"><img src="{{ work.thumbnail.url }}" class="thumb-{{ forloop.counter }}" alt="{{ work.title }} = {{ work.description }}" /></a>
        {% endfor %}
    </div>
{% endblock %}
