{% extends "base.html" %} 

{% block body-class %}contact-body{% endblock %}

{% block page_title %}Contact Greg Newman, the artist, illustrator and developer{% endblock %}

{% block meta_keywords %}Contact greg newman, illustration, illustrator, artist, designer, django, art, motorcycle, harley, harley art, painting, painter12, photoshop, watercolor, oil paint, drawing, sketching{% endblock %}

{% block meta_description %}
    Contact Greg Newman, the freelance illustrator specializing in motorcycle, harley davidson, portrait, and wildlife illustrations; as well as design, and development for the intertubes.
{% endblock %}


{% block content %} 
<article>
    <div class="ten columns">
        <h2>Contact Greg</h2> 
        <p>Use the form below to contact Greg.  He's busy but he will reply (unless your a ruthless spammer bot thing).</p>

        <div class="contact-form">
        {% if form.errors %} 
        <p class="error-alert">The following fields are required.</p> 
        {% endif %}

        <form method="post" action=".">{% csrf_token %}
            {% for field in form %}
                        {% include 'common/form.html' %}
            {% endfor %} 
            <button>SEND</button>
        </form> 
        </div>
    </div>
</article>
{% endblock %} 
