{% extends "base.html" %} 

{% block body-class %}contact-body{% endblock %}

{% block page_title %}Contact Tucker Joenz, the photographer and film maker{% endblock %}

{% block meta_keywords %}Contact tucker joenz, photographer, photography, commercial, architectural, designer, django, art, editorial, food, conceptual, music, nikon, photoshop, speedlights, studio, street photography, wedding{% endblock %}

{% block meta_description %}
    Contact Tucker Joenz, the commercial photographer specializing in music, editorial, food, conceptual and architectural photography; as well as design, and development for the intervebz.
{% endblock %}


{% block content %} 
<article>
    <div class="ten columns">
        <h2>Contact Tucker</h2> 
        <p>Use the form below to contact Tucker.  He is out shooting at the moment and will get back to you soon.</p>

        <div class="contact-form">
        {% if form.errors %} 
        <p class="error-alert">The following fields are required.</p> 
        {% endif %}

        <form method="post" action=".">{% csrf_token %}
            {% for field in form %}
                        {% include 'common/form.html' %}
            {% endfor %} 
            <button>SEND</button>
        </form> 
        </div>
    </div>
</article>
{% endblock %} 
