{% extends "base.html" %}
{% load markup_tags %}
{% load tagging_tags %}
{% load disqus_tags %}

{% block page_title %}{{ entry.title }} by Greg Newman{% endblock %}

{% block meta_keywords %}{{ entry.keywords }}{% endblock %}
{% block meta_description %}{{ entry.description }}{% endblock %}

{% block content %}
    <article>
        <h2><span class="entry-date">{{ entry.created_on|date:"M. jS, Y" }}</span>
            {{ entry.title }}</h2>
        <div class="entry-body">
            {{ entry.body|apply_markup:entry.markup }}
        </div>
        <div class="entry-extra">
            <span><a href="{{ entry.get_absolute_url }}#disqus_thread">View Comments</a></span>
            {% tags_for_object entry as tags %}
            {% if tags %}
               <span>Tagged<br /> 
            {% for tag in tags %}
               <a href="{% url tagged-entries tag %}">{{ tag }}</a> 
            {% endfor %}</span>
            {% endif %}
            In Journal - {% for blog in entry.blog.all %}{{ blog.title }} {% endfor %}
        </div>
        {% if entry.related_content.all %}
        <div class="related">
            <h3>Related Entries</h3>
            {% for related in entry.related_content.all %}
                <a href="{{ related.get_absolute_url }}">{{ related.title }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </article>

    <section class="entry-disqus">
        <h2>Comments</h2>
        <a name="disqus_thread"></a>
        {% disqus_show_comments %}
    </section>
    <div class="clearfix"></div>
{% endblock %}
