{% extends "base.html" %}
{% load markup_tags %}
{% load tagging_tags %}
{% load disqus_tags %}

{% block page_title %}{{ entry.title }} by Greg Newman{% endblock %}

{% block meta_keywords %}{{ entry.keywords }}{% endblock %}
{% block meta_description %}{{ entry.description }}{% endblock %}

{% block content %}
    <article>
        <h2><span class="entry-date">{{ entry.created_on|date:"M. jS, Y" }}</span>
            {{ entry.title }}</h2>
        <div class="entry-body">
            {{ entry.body|apply_markup:entry.markup }}
        </div>
        <div class="entry-extra">
            <div class="social-buttons">
                <!-- Place this tag where you want the +1 button to render -->
                <g:plusone annotation="inline" size="small"></g:plusone>

                <!-- Place this render call where appropriate -->
                <script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
            </div>

            {% tags_for_object entry as tags %}
            {% if tags %}
               <span>Tagged<br /> 
                {% for tag in tags %}
                <a href="{% url tagged-entries tag %}">{{ tag }}</a>{% if not forloop.last%}, {% endif %} 
                {% endfor %}</span>
            {% endif %}
        </div>
        {% if entry.related_content.all %}
        <div class="related">
            <h3>Related Entries</h3>
            <ul>
            {% for related in entry.related_content.all %}
                <li><a href="{{ related.get_absolute_url }}">{{ related.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </article>

    <section class="entry-disqus">
        <h2>Comments</h2>
        <a name="disqus_thread"></a>
        {% disqus_show_comments %}
    </section>
    <div class="clearfix"></div>
{% endblock %}
