{% extends "base.html" %}
{% load markup_tags %}
{% load markup_tags %}
{% load comparison %}
{% load disqus_tags %}

{% block body-class %}journal-body{% endblock %}

{% block page_title %}Blog of Greg Newman's Recent Work and thoughts{% endblock %}

{% block meta_keywords %}blog, journal, gallery, portfolio, greg newman, illustration, art, paintings, wildlife, sports, portraits, caricatures, sketches, drawings, motorcycle art, motorcycles, harley davidson{% endblock %}
{% block meta_description %}Blog of Greg Newman's illustration work, sketches and thoughts.  Wildlife, portrait and motorcycle paintings.{% endblock %}


{% block content %}
    {% if entries %}
        <div class="journal-row">
        {% for entry in entries %}
        <div class="journal-excerpt eight columns">
            <span class="entry-date">{{ entry.created_on|date:"M. jS, Y" }}</span>
            <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
            <div class="entry-body">
                {{ entry.excerpt|apply_markup:entry.markup }} <a href="{{ entry.get_absolute_url }}" class="continue">Continue Reading</a>
            </div>
            <div class="clearfix"></div>
        </div>
        {% if forloop.counter|divisibleby:"2" %}</div><div class="clearfix"></div>{% if not forloop.last %}<div class="journal-row">{% endif %}{% endif %}
        {% endfor %}
    {% else %}
        <h2>WHOOPS!</h2>
        <p>Currently there are no entries in that Journal.  Please check back yo!</p>
    {% endif %}

    {% comment %}
    <section class="sidebar">
        <h2>Distractions</h2>
        {% for distraction in distractions %}
        <div class="distractblock">
            <h4><a href="{{ distraction.link }}" target="_blank">{{ distraction.title }}</a></h4>
                <span>{{ distraction.description }}</span>
        </div>
        {% endfor %}
    </section>
    {% endcomment %}
    
    <div class="clearfix"></div>
    
{% endblock %}
