{% load disqus_tags %}

<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block page_title %}{% endblock %}</title>
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Tucker Joenz">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script type="text/javascript" src="http://use.typekit.com/wmv5dmj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css">

    {% block css_extra %}{% endblock %}
    {% block js_extra %}{% endblock %}
    {% disqus_dev %}

    <link href="http://feeds.feedburner.com/gregnewman-combined" title="Combined Feed" rel="alternate" type="application/rss+xml" />
    <script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/modernizr-2.0.6.min.js"></script>
    <script src="{{ STATIC_URL }}js/actions.js"></script>
    <script src="{{ STATIC_URL }}js/twitter.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.jribbble-1.0.0.ugly.js"></script>

    <script>
    $.jribbble.getShotsByPlayerId('newman', function (playerShots) {
    var html = [];

    $.each(playerShots.shots, function (i, shot) {
        html.push('<a href="' + shot.url + '">');
        html.push('<img src="' + shot.image_teaser_url + '" ');
        html.push('alt="' + shot.title + '"></a></li>');
    });

    $('#dribbble-shots').html(html.join(''));
}, {page: 1, per_page: 1});
        
    </script>


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12316735-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body id="tuckerjoenz-com" class="{% block body-class %}base{% endblock %}">
    
    <header>
        <div class="container sixteen columns">
            <div class="logo nine columnz alpha">
                <a href="/"><img src="{{ STATIC_URL }}img/tj-logo.png" /></a>
            </div>
            <div class="navbar sixteen columns alpha">
                <ul class="clearfix">
                    <li class="about-nav"><a href="/about/" title="About Greg Newman">About</a></li>
                    <li class="commissions-nav"><a href="/prices/" title="Prices for Photgraphy">Pricing</a></li>
                    <li class="journal-nav"><a href="/journal/" title="Greg's blog">Journal</a></li> 
                    <li class="portfolio-nav"><a href="/portfolio/" title="Recent work">Gallery</a></li>
                    <li class="contact-nav"><a href="/contact/" title="Contact Greg">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section>
        <div class="container sixteen columns">
            <div id="main" role="main">
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>

    <footer>
        <div class="container">

             <div class="copyright sixteen columns">
                <h3>Legal</h3>
                <p>&copy;2012 Tucker Joenz, All Rights Reserved.
                Content, site design and images may not be reproduced without written permission.</p>
            </div>


        </div>
    </footer>


</body>
</html>

