{% extends 'base.html' %}

{% block body-class %}{% ifequal flatpage.url "/prices/" %}Pricing{% endifequal %}{% ifequal flatpage.url "/about/" %}about{% endifequal %}{% endblock %}

{% block page_title %}{% ifequal flatpage.url "/prices/" %}Pricing{% else %}About{% endifequal %} Tucker Joenz Photography and Visual Artist{% endblock %}

{% block meta_keywords %}{% ifequal flatpage.url "/prices/" %}Pricing{% else %}About{% endifequal %} blog, journal, gallery, portfolio, tucker joenz, photography, commercial, editorial, food, music, architecture, architectural, conceptual, portraits, family, wedding, corporate, headshots{% endblock %}

{% block meta_description %}
    {% ifequal flatpage.url "/prices/" %}Pricing{% else %}About{% endifequal %} Tucker Joenz is a commercial photographer, skilled in editorial, music, food, conceptual and architectural photography as well as film making; as well as design, and development for the intervebz.
{% endblock %}

{% block content %}
<article>
    <h2>{{ flatpage.title }}</h2>
    {{ flatpage.content }}
</article>
{% endblock %}
